$widthSelectStatus: 165px;
@mixin listSelect {
    width: $widthSelectStatus;
    background-color: var(--white);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    .item {
        font-size: 1.6rem;
        padding: 6px 12px 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        &.active {
            color: var(--error);
        }
        span {
            padding-right: 4px;
        }
    }
}

@mixin underline {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background-color: var(--primary);
}

#close-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 5px;
    font-size: 2.4rem;
    background-color: transparent;
    border: none;
    padding: 8px 12px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
        color: var(--primary);
    }
}
.heading {
    font-family: 'Dancing Script';
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    &::after {
        @include underline;
    }
}

.wrap-detail-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 2rem;
    .detail-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 8px 4px 4px;
        position: relative;
        &::after {
            @include underline;
            height: 1px;
            transform: scaleX(0);
            transform-origin: left;
            transition: all 0.3s linear;
        }
        &:focus-within {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    .detail-label {
        font-weight: 600;
    }
    .detail-value {
        flex: 2 1 auto;
        font-size: 1.6rem;
        padding: 4px 0;
        margin-left: 8px;
        border: none;
        outline: 1px solid transparent;
        caret-color: var(--primary);
        &[type='file'] {
            visibility: hidden;
        }
        &:is([type='radio'], [type='checkbox']) {
            cursor: pointer;
            accent-color: var(--primary);
            margin: 0 8px;
            & + label {
                cursor: pointer;
                padding-right: 8px;
                margin-right: 12px;
            }
        }
        &[type='number']::-webkit-outer-spin-button,
        &[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .utilities {
        margin-left: 12px;
        .utility {
            padding: 4px;
            & + .utility {
                margin-top: 8px;
            }
            input {
                font-size: 1.5rem;
                caret-color: var(--primary);
                border: 1px solid;
                border-color: transparent transparent var(--primary) transparent;
                padding: inherit;
                outline: none;
                &::placeholder {
                    font-size: 1.4rem;
                }
            }
            .remove-icon {
                float: right;
                font-size: 1.4rem;
                color: var(--primary);
                padding: 4px 6px;
                margin-left: 12px;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.2s linear;
                &:hover {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }

            .add-icon {
                @extend .remove-icon;
                color: var(--success);
                border: 1px solid currentColor;
                background-color: var(--white);
                &:hover {
                    background-color: var(--success);
                    color: var(--white);
                }
            }
        }

        .utility:last-child {
            padding-left: 0;
            margin-top: 14px;
        }
    }

    #intro {
        width: 100%;
        display: block;
        margin: 8px 0 0;
        padding-left: 8px;
        min-height: 20vh;
        border: 1px solid var(--primary);
    }
    .error-msg {
        width: 100%;
        padding-top: 4px;
        color: var(--error);
    }

    .select-status-tour {
        flex: 0 1 auto;
        button {
            font-size: 1.6rem;
            letter-spacing: 1px;
            color: var(--primary);
            text-align: left;
            max-width: 100%;
            width: $widthSelectStatus;
            padding: 6px 8px;
            margin-left: 4px;
            border-radius: 8px;
            border: 1px solid transparent;
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                border-color: var(--primary);
                svg {
                    visibility: visible;
                }
            }
            svg {
                float: right;
                font-size: 1.3rem;
                visibility: hidden;
                transition: inherit;
            }
            span {
                padding-right: 8px;
            }
        }
    }

    .select-guide-tour {
        @extend .select-status-tour;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .category {
            padding: 4px;
        }
    }

    .list-img {
        margin-top: 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        .img-tour {
            width: 250px;
            height: 200px;
            flex: 1 1 auto;
            max-width: 100%;
            border-radius: 8px;
            filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.3));
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 0, 0.08);
            position: relative;
            &:has(.add-img) {
                cursor: pointer;
                filter: none;
            }
            .add-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2.4rem;
                padding: 5px 8px;
                border-radius: 99px;
                background-color: var(--white);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
            .remove-img {
                position: absolute;
                top: 2px;
                right: 4px;
                font-size: 1.8rem;
                padding: 4px 8px;
                border: none;
                background-color: #eee;
                border-radius: 99px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: var(--primary);
                    background-color: var(--white);
                }
            }
        }
    }

    .wrap-btns {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        #btn-reset {
            padding: 8px;
            background-color: var(--warning);
            border-radius: 4px;
            border: 1px solid transparent;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s linear;
            svg {
                padding: 0 4px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        #btn-update {
            @extend #btn-reset;
            background-color: var(--white);
            color: var(--primary);
            border-color: var(--primary);
            &:hover {
                background-color: var(--primary);
                color: var(--white);
            }
        }
    }
}

.list-status-select,
.list-guide-select {
    @include listSelect;
}
