.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: var(--height-header-layout);
    background-color: #091023;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    transition: all 0.3s linear;
    nav {
        height: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        gap: 0 24px;
        width: var(--width-header-layout);
        margin: 0 auto;
        padding: 0 4px;
    }
    .logo {
        svg {
            transition: filter 0.3s ease-in, transform 0.3s linear;
            &:hover {
                filter: contrast(150%);
                transform: rotate(-45deg);
            }
        }
    }
    .title {
        font-size: 4.2rem;
        color: var(--white);
        font-weight: 600;
        font-family: 'Dancing Script';
        transition: all 0.3s ease-out;
        &:hover {
            color: var(--primary);
            cursor: default;
        }
    }
    .wrap-btns {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        #actions-btn {
            padding: 8px 12px;
            border: 1px solid transparent;
            border-radius: 16px;
            background-color: var(--white);
            font-size: 1.9rem;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease;
            &.active {
                color: var(--primary);
            }
            &:hover {
                color: var(--primary);
            }
        }

        .actions {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            border-radius: 4px;
            background-color: var(--white);
            box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3);
            .action {
                font-size: 1.6rem;
                background-color: var(--white);
                border-bottom: 1px solid var(--primary);
                width: 100%;
                a {
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: var(--text);
                    padding: 10px 16px;
                    background-color: var(--white);
                    border: 1px solid transparent;
                    transition: all 0.2s ease;
                    &:hover {
                        opacity: 0.8;
                        color: var(--primary);
                        svg {
                            transform: scale(1.08);
                        }
                    }
                }
                svg {
                    margin-right: 8px;
                    transition: all 0.2s linear;
                }
            }
        }
    }
}
