#search-tour-page {
    margin: 0 auto;
}

.container {
    background-image: url('../../../assets/background-search-tours.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50%;
    position: relative;
    z-index: 2;
}
