.container {
    margin: 0 auto 36px;
    width: var(--width-header-layout);
    max-width: 100%;
}

.title {
    font-size: 4.2rem;
    font-family: 'Dancing Script';
    font-weight: 600;
    text-align: center;
}

.wrap-history {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 12px;
}
.history-bill-item {
    max-width: 50%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 0 32px;
    padding: 12px 12px;
    width: 500px;
    max-width: 100%;
    line-height: 1.8;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 30%);
    transition: all 0.3s ease-in-out;
    &:hover {
        border-color: var(--primary);
        box-shadow: none;
        cursor: pointer;
        transform: scale(0.98);
    }
    .bill-icon {
        font-size: 3.2rem;
        color: var(--error);
        display: block;
        transition: all 0.3s ease-in;
        &:hover {
            opacity: 0.8;
            transform: rotate(180deg);
        }
        &.booked {
            color: var(--success);
        }
    }
    .bill-text {
        .bill-time {
            font-weight: 400;
        }
        .bill-content {
            .bill-name-tour {
                font-size: 1.7rem;
                letter-spacing: 1px;
                color: var(--primary);
                text-decoration: underline;
            }
        }
        .bill-total {
            color: var(--error);
            font-weight: 600;
            &.booked {
                color: var(--success);
            }
        }
    }
}
