.confirm-page {
    position: fixed;
    z-index: 1;
    inset: 0 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../../assets/background-auth.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        font-size: 1.6rem;
        color: var(--text);
        background-color: rgba(225, 225, 225, 0.3);
        display: inline-block;
        text-decoration: none;
        letter-spacing: 2px;
        padding: 8px 16px;
        margin-top: 8px;
        &:hover {
            opacity: 0.8;
            color: var(--primary);
            background-color: var(--white);
        }
    }
}

#form-confirm-account {
    width: 380px;
    max-width: 100%;
    border-radius: 8px;
    background-color: var(--white);
    padding: 20px;
    margin: 20px 0;
}

.form-group {
    position: relative;
    font-size: 1.6rem;
    & + .form-group {
        padding: 12px 0;
    }
    .form-input {
        position: relative;
        z-index: 2;
        font-weight: 400;
        color: var(--text);
        width: 100%;
        padding: 12px 8px 12px 12px;
        margin: 8px 0;
        border-radius: 8px;
        border: 1px solid var(--text);
        outline: 1px solid var(--white);
        caret-color: var(--primary);
        &:focus {
            border-color: var(--primary);
        }
    }

    .form-label {
        padding-left: 4px;
    }

    .error-msg {
        padding-left: 4px;
        color: var(--primary);
        font-weight: 400;
    }
}

.submit-btn {
    position: relative;
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    background: #ee9b63; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc5170, #ee9b63);
    background: linear-gradient(to right, #fc5170, #ee9b63);
    &:hover {
        background: -webkit-linear-gradient(to left, var(--primary), #f3904f);
        background: linear-gradient(to left, var(--primary), #f3904f);
        &::after {
            transform: scaleX(1);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(198, 194, 194, 0.3);
        transform: scaleX(0);
        transform-origin: left;
        border-radius: inherit;
        transition: all 0.2s ease-in-out;
    }
}

.form-group {
}

.form-label {
}

.form-input {
}

.form-error {
}
