@mixin textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap-tour {
    text-decoration: none;
    padding: 0 8px;
    width: 25%;
    transition: all 0.3s linear;
    &:hover {
        transform: translateY(-6px);
    }
}
.tour {
    position: relative;
    height: 100%;
    color: var(--text);
    line-height: 1.8;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    animation: showFade 0.5s linear;
    .mark-icon {
        position: absolute;
        z-index: 2;
        top: 3px;
        right: 0;
        padding: 4px 8px 4px 20px;
        fill: transparent;
        stroke: var(--white);
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover,
        &.active {
            fill: var(--primary);
        }
    }
    .tour__wrap-image {
        height: 50%;
        overflow: hidden;
        .tour__image {
            width: 100%;
            height: 100%;
            flex: 1 1 auto;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            object-fit: cover;
            cursor: default;
            transition: all 0.4s ease-in-out;
            &:hover {
                transform: scale(1.3);
                overflow: hidden;
                filter: contrast(120%);
            }
        }
    }

    .tour__content {
        height: 50%;
        flex: 0 1 auto;
        padding: 12px;
        text-overflow: ellipsis;
        .tour__name {
            font-size: 2rem;
            font-weight: 600;
            @include textOverflow;
        }
        .tour__place {
            font-size: 1.8rem;
            font-weight: 600;
        }
        .tour__price {
            letter-spacing: 1px;
        }
        .tour__start,
        .tour__end {
            b {
                padding-left: 8px;
            }
        }
    }
}

@media (max-width: 1023px) and (min-width: 740px) {
    .wrap-tour {
        width: 33.3333%;
    }
}

@media (max-width: 739px) {
    .wrap-tour {
        width: 100%;
    }
}

@keyframes showFade {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
