@mixin textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap-tour {
    text-decoration: none;
    padding: 0 8px;
    width: 25%;
    transition: all 0.3s linear;
    &:hover {
        transform: translateY(-6px);
        .tour__image {
            filter: contrast(110%);
        }
    }
}
.tour {
    position: relative;
    border-radius: 8px;
    color: var(--text);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    min-height: 380px;
    line-height: 1.8;
    animation: showFade 0.5s linear;
    .mark-icon {
        position: absolute;
        z-index: 2;
        top: 3px;
        right: 3%;
        fill: transparent;
        stroke: var(--white);
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover,
        &.active {
            fill: var(--primary);
        }
    }
    .tour__image {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        cursor: default;
        transition: all 0.3s ease-in-out;
    }

    .tour__content {
        padding: 12px;
        text-overflow: ellipsis;
        .tour__name {
            font-size: 2rem;
            font-weight: 600;
            @include textOverflow;
        }
        .tour__place {
            font-size: 1.8rem;
            font-weight: 600;
        }
        .tour__price {
            letter-spacing: 1px;
        }
        .tour__start,
        .tour__end {
            b {
                padding-left: 8px;
            }
        }
    }
}

@keyframes showFade {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
