@import '../ManageUsers/styles.module.scss';

$widthSelectStatus: 150px;
#reset-btn {
    padding: 10px 8px;
    margin-top: 12px;
}

#close-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 5px;
    font-size: 2.4rem;
    background-color: transparent;
    border: none;
    padding: 8px 12px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
        color: var(--primary);
    }
}
.wrap-search-options {
    #add-tour-btn {
        color: var(--white);
        padding: 4px 8px;
        background-color: var(--success);
        border-radius: 4px;
        border: 1px solid var(--success);
        cursor: pointer;
        font-size: 2rem;
    }
    #select-status-tour {
        flex: 0 1 auto;
        button {
            font-size: 1.4rem;
            letter-spacing: 1px;
            max-width: 100%;
            width: $widthSelectStatus;
            border: 1px solid var(--primary);
            background-color: var(--white);
            padding: 8px;
            border-radius: 24px;
            cursor: pointer;
            svg {
                float: right;
            }
            span {
                padding-right: 12px;
            }
        }
    }
}
.list-status-select {
    width: $widthSelectStatus;
    background-color: var(--white);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    .status {
        font-size: 1.6rem;
        padding: 6px 24px 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
