#toast {
    position: fixed;
    top: 5%;
    right: 1%;
    z-index: 9999999;

    .toast__container {
        position: relative;
        display: flex;
        align-items: center;
        min-width: 280px;
        max-width: 300px;
        background-color: var(--white);
        padding: 8px 12px 12px;
        margin-bottom: 12px;
        border-left: 4px solid currentColor;
        border-radius: 4px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        animation: fadeOut 1.4s ease-in-out;
        &.error {
            color: var(--error);
        }
        &.success {
            color: var(--success);
        }
        &.warning {
            color: var(--warning);
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -1px;
            right: 0;
            width: 100%;
            height: 3px;
            background-color: currentColor;
            animation: animateToastX 1s linear;
            transform-origin: left;
        }
    }
    .toast__icon-status {
        flex: 0 1 auto;
        font-size: 2rem;
        color: var(--primary);
        display: block;
        padding: 4px 6px;
        height: 100%;
        svg {
            color: var(--text);
        }
        .icon-status--success {
            svg {
                color: var(--success);
            }
        }
        .icon-status--error {
            svg {
                color: var(--error);
            }
        }
        .icon-status--warning {
            svg {
                color: var(--warning);
            }
        }
    }
    .toast__content {
        flex: 1 1 auto;
        padding-left: 12px;
        text-align: left;
        .toast-content__heading {
            font-family: var(--font-family);
            font-size: 1.9rem;
            text-shadow: none;
            color: var(--text);
            font-weight: 500;
        }
        .toast-content__text {
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--text);
        }
    }

    .toast__close-btn {
        position: absolute;
        top: 0;
        right: 2px;
        font-size: 2rem;
        color: var(--text);
        padding: 2px 10px 8px;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            opacity: 0.6;
        }
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animateToastX {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
