@mixin formatTitle {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    svg {
        padding-right: 8px;
    }
}
#list-current-infor {
    margin: 12px 0;
}
.content {
    margin-top: 12px;
    padding: 8px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}
.current-infor {
    flex: 1 1 25%;
    max-width: 100%;
    line-height: 1.8;
    color: var(--text);
    background-color: var(--white);
    padding: 4px 8px 8px;
    border-radius: 4px;
    box-shadow: 2px 1px 6px rgb(0 0 0 / 30%);
    transition: all 0.3s linear;
    &:hover {
        transform: translateY(-5px);
    }
    &:has(.infor__icon--up) {
        color: var(--success);
    }
    &:has(.infor__icon--down) {
        color: var(--error);
    }
}
.infor__heading {
    color: #a5a5a5;
    font-weight: 400;
    text-transform: uppercase;
    @include formatTitle;
}

.infor__progress-percent {
    @include formatTitle;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0 4px;
    letter-spacing: 1px;
    color: var(--error);
    &.up {
        color: var(--success);
    }
    span {
        color: #25252533;
        font-weight: 400;
    }
}
.infor__amount {
    color: #0227f287;
    font-weight: 700;
    padding: 0 4px;
    @include formatTitle;
    svg {
        color: orange;
    }
}

@media (max-width: 1023px) {
    .content {
        flex-wrap: wrap;
        .current-infor {
            flex: 1 1 100%;
        }
    }
}
