#favourite-tours-page {
    margin: calc(var(--height-header-layout) + 24px) auto 0;
}

.wrap-list-fav-tour {
    margin: 24px auto 36px;
    width: var(--width-header-layout);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 0;
}

.title {
    font-size: 4.2rem;
    font-family: 'Dancing Script';
    font-weight: 600;
    margin: 24px 0 12px;
    position: relative;
    text-align: center;
}
