.spinner {
    position: fixed;
    z-index: 9999;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner-icon {
        font-size: 4.2rem;
        color: var(--primary);
        animation: spinner 1.2s linear infinite forwards;
    }
}

@keyframes spinner {
    to {
        transform: scale(1) rotate(360deg);
    }
}
