#nav-bar {
    line-height: 2;
    nav {
        padding: 12px 0;
        ul {
            .nav-item {
                width: 100%;
                padding: 12px 0 12px 18px;
                cursor: pointer;
                position: relative;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                    .nav-name + svg {
                        transform: rotate(90deg);
                    }
                    .nav-children {
                        display: block;
                    }
                }
                .nav-name {
                    padding-right: 12px;
                    & + svg {
                        font-size: 1.4rem;
                        transition: all 0.3s ease-in-out;
                    }
                }
                .nav-link {
                    display: block;
                    width: 100%;
                    font-size: 1.7rem;
                    color: var(--white);
                    &.active {
                        color: var(--primary);
                    }
                    .nav-name {
                        padding-left: 8px;
                    }
                }

                .nav-children {
                    position: absolute;
                    top: 105%;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.3);
                    display: none;
                    transition: all 0.3s linear;
                    animation: showFromRight 0.3s linear;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -4px;
                        width: 100%;
                        height: 8px;
                    }
                    .nav-item {
                        padding: 8px;
                        .nav-link {
                            color: var(--white) !important;
                        }
                    }
                }
            }
        }
    }
}

@keyframes showFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
