$primaryColor: #ff385c;
.wrap-search-input {
    border: 1px solid #f3f3f3;
    padding: 6px 12px 6px 8px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 6px rgb(0, 0, 0, 0.1);
    &:focus-within {
        border-color: $primaryColor;
        box-shadow: none;
    }

    #search-input {
        font-size: 1.6rem;
        color: var(--text);
        padding: 8px 16px;
        border: none;
        outline: none;
        caret-color: $primaryColor;
        background-color: transparent;
        flex: 1 1 auto;
        &:placeholder-shown {
            letter-spacing: 1px;
        }

        &:not(:placeholder-shown) ~ #icon-search {
            background-color: #ff113c;
        }

        &::-webkit-search-cancel-button {
            cursor: pointer;
        }
    }
    #icon-search {
        $height: 32px;
        height: $height;
        width: 32px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: $primaryColor;
        color: var(--white);
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -8px;
            transform: translateY(-50%);
            width: 2px;
            height: $height / 2;
            background: rgba(22, 24, 35, 0.12);
        }

        &:hover {
            background-color: transparent !important;
            color: $primaryColor;
            border: 1px solid currentColor;
        }
    }
}

.search-result {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    max-height: min(50vh);
    overflow: overlay;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    padding: 8px;
    &.exist {
        background-color: rgb(255, 255, 255);
    }
}

.tour-item {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    color: var(--text);
    text-decoration: none;
    min-width: 100%;
    gap: 0 24px;

    &:hover {
        background-color: rgba(107, 108, 114, 0.12);
        border-radius: 6px;
    }
    .tour-item__img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }
    .tour-item__content {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        .tour-item__name,
        p {
            font-size: 1.4rem;
        }
    }
}
