@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
$colorButton: linear-gradient(to left, #7430e6, #f224a7);
@mixin button {
    font-size: 1.8rem;
    color: var(--white);
    margin: 0 8px;
    min-width: 34px;
    min-height: 34px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #7430e6, #f224a7);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
        opacity: 0.8;
        background-color: var(--primary);
        border-color: var(--primary);
    }
}
#profile {
    margin: 12px auto;
    width: var(--width-header-layout);
    max-width: 100%;
    text-align: center;
    padding: 0 8px;
}

#form-profile {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 12px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    .title {
        font-size: 4.2rem;
        font-family: 'Dancing Script';
        font-weight: 600;
    }
    .change-password-btn {
        position: absolute;
        top: 12px;
        right: 0;
        button {
            @include button;
        }
    }
}

.avatar {
    flex: 1 1 30%;
}
.content {
    flex: 1 1 70%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.submit-btn {
    @include button;
    font-size: 1.6rem;
    width: inherit;
    padding: 8px 24px;
    margin-left: auto;
    border-radius: 4px;
}

.avatar {
    #wrap-input-image {
        display: flex;
        justify-content: center;
        .form-label {
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 8px;
            flex: none;
            cursor: pointer;
            color: var(--primary);
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-image: transparent;
            &:hover {
                color: var(--white);
                background-image: $colorButton;
            }
        }
    }
    .form-input {
        visibility: hidden;
    }
    img {
        width: 260px;
        height: 260px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #d53a9d;
        &:hover {
            cursor: pointer;
        }
    }
}

.form-group {
    width: 100%;
    text-align: left;
    margin: 12px 0;
    .form-label {
        font-size: 1.6rem;
        font-weight: 500;
        display: block;
        position: relative;
        cursor: pointer;
    }
    .wrap-input {
        flex: 1 1 0;
        .form-input {
            font-size: 1.6rem;
            width: 100%;
            padding: 12px 0 12px 4px;
            caret-color: var(--primary);
            border: 1px solid;
            border-color: transparent transparent var(--primary) transparent;
            outline: 1px solid transparent;
            background-color: transparent;
            &:focus {
                border-radius: 8px;
                border-color: var(--primary);
                outline-color: var(--primary);
                background-color: var(--white);
            }
        }
        p.error-msg {
            color: var(--primary);
        }
    }
    .form-input {
        &[type='radio'] {
            margin-left: 12px !important;
            margin-right: 12px !important;
            transform: scale(1.1);
            accent-color: var(--primary);
        }
    }
}
